<div class="container" *ngIf="!home">
    <input class="container mt-4 searchBar-list" type="text" [(ngModel)]="searchName" placeholder="Start searching...">
    <div class="row">
        <div class="col-md-4">
            <div *ngFor="let data of recipeData | search:'name':searchName;let i = index">
                <div class="card mt-4">
                    <img class="card-img-top setImage" src="{{ data.image }}" alt="Recipe image" (click)="showRecipeDetails(i)">
                    <div class="card-body">
                        <h4 class="card-title inlineDisplay">{{ data.name }}</h4>
                        <div class="rightFloat inlineDisplay" *ngIf="!data.isFavorite">
                            <img src="../../../assets/images/blank_heart.png" class="setFavIcon" (click)="this.addFavourite(data)">
                        </div>
                        <div class="rightFloat inlineDisplay" *ngIf="data.isFavorite">
                            <img src="../../../assets/images/filled_heart.png" class="setFavIcon" (click)="this.addFavourite(data)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <app-recipe-detail></app-recipe-detail>
        </div>
    </div>
    <div class="mt-4" *ngIf="!home">
        <button (click)="goToCreateRecipe() " class="btn btn-primary ">Create Recipe</button>
    </div>
</div>
<div *ngIf="home">
    <input class="container mt-3 searchBar-home" type="text" [(ngModel)]="searchName" placeholder="Start searching recipes by name, type or by chef...">
    <h4 class="card-title mt-3" *ngIf="getFilterByFavourite().length > 0">My Favourite Recipes :</h4>
    <div class="row">
        <div *ngFor="let data of getFilterByFavourite() | search:'name,type,chef':searchName" class="col-md-4 mt-3">
            <div class="card">
                <img class="card-img-top setImage" src="{{ data.image }}" alt="Recipe image">
                <div class="card-body">
                    <h4 class="card-title inlineDisplay">{{ data.name }}</h4>
                    <div class="rightFloat inlineDisplay" *ngIf="!data.isFavorite">
                        <img src="../../../assets/images/blank_heart.png" class="setFavIcon" alt="chako image" (click)="this.addFavourite(data)">
                    </div>
                    <div class="rightFloat inlineDisplay" *ngIf="data.isFavorite">
                        <img src="../../../assets/images/filled_heart.png" class="setFavIcon" alt="chako image" (click)="this.addFavourite(data)">
                    </div>
                    <div class="card-text description-section pt-2" style="-webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">
                        {{ data.description }}</div>
                    <div class="card-text" [class]="data.type === 'Veg' ? 'veg' : 'non-veg'" [ngStyle]="{'text-decoration': (data.type === 'Veg') ? 'underline' : 'line-through'}"><b>{{ data.type }}</b>
                    </div>
                    <div class="card-text"><b>Chef:</b> {{ data.chef }}</div>
                    <div class="card-text" appChangeBackground [approved]="data.approved">
                        <b style="font-style: normal;">Approved By:</b> {{ data.approved == 1 ? 'Vivek' : 'Sachin'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>