.description-section {
    height: 75px;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    margin-bottom: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.non-veg {
    color: red;
}

.veg {
    color: green;
}

.setFavIcon {
    height: 25px;
    width: 25px;
}

.inlineDisplay {
    display: inline;
}

.rightFloat {
    float: right;
}

.setImage {
    height: 275px;
    object-fit: cover;
}

.width-30 {
    width: 30%;
}