<div class="container">
    <div class="row" *ngIf="!home">
        <div *ngFor="let data of recipeData" class="col-md-4 pt-3">
            <div class="card">
                <img class="card-img-top setImage" src="{{ data.image }}" alt="Recipe image">
                <div class="card-body">
                    <h4 class="card-title inlineDisplay">{{ data.name }}</h4>
                    <div class="rightFloat inlineDisplay" *ngIf="!data.isFavorite">
                        <img src="../../../assets/images/blank_heart.png" class="setFavIcon" alt="chako image" (click)="this.addFavourite(data)">
                    </div>
                    <div class="rightFloat inlineDisplay" *ngIf="data.isFavorite">
                        <img src="../../../assets/images/filled_heart.png" class="setFavIcon" alt="chako image" (click)="this.addFavourite(data)">
                    </div>
                    <div class="card-text description-section pt-2" style="-webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">
                        {{ data.description }}</div>
                    <div class="card-text" [class]="data.type === 'Veg' ? 'veg' : 'non-veg'" [ngStyle]="{'text-decoration': (data.type === 'Veg') ? 'underline' : 'line-through'}"><b>{{ data.type }}</b>
                    </div>
                    <div class="card-text"><b>Chef:</b> {{ data.chef }}</div>
                    <div class="card-text" appChangeBackground [approved]="data.approved"><b style="font-style: normal;">Approved
              By:</b> {{ data.approved == 1 ? 'Vivek' : 'Sachin'}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="home">
        <div *ngFor="let data of getFilterByFavourite()" class="col-md-4 pt-3">
            <div class="card">
                <img class="card-img-top setImage" src="{{ data.image }}" alt="Recipe image">
                <div class="card-body">
                    <h4 class="card-title inlineDisplay">{{ data.name }}</h4>
                    <div class="rightFloat inlineDisplay" *ngIf="!data.isFavorite">
                        <img src="../../../assets/images/blank_heart.png" class="setFavIcon" alt="chako image" (click)="this.addFavourite(data)">
                    </div>
                    <div class="rightFloat inlineDisplay" *ngIf="data.isFavorite">
                        <img src="../../../assets/images/filled_heart.png" class="setFavIcon" alt="chako image" (click)="this.addFavourite(data)">
                    </div>
                    <div class="card-text description-section pt-2" style="-webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">
                        {{ data.description }}</div>
                    <div class="card-text" [class]="data.type === 'Veg' ? 'veg' : 'non-veg'" [ngStyle]="{'text-decoration': (data.type === 'Veg') ? 'underline' : 'line-through'}"><b>{{ data.type }}</b>
                    </div>
                    <div class="card-text"><b>Chef:</b> {{ data.chef }}</div>
                    <div class="card-text" appChangeBackground [approved]="data.approved"><b style="font-style: normal;">Approved
              By:</b> {{ data.approved == 1 ? 'Vivek' : 'Sachin'}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-3" *ngIf="showRecipe">
        <button (click)="goToCreateRecipe() " class="ml-2 btn btn-primary ">Create Recipe</button>
    </div>
</div>